// WiFi
#define SECRET_SSID "WIFI_SSID"
#define SECRET_PASS "WIFI_PASSWORD

// MQTT access
#define MQTT_BROKERIP "149.132.178.180"
#define MQTT_USERNAME "MQTT_USERNAME"
#define MQTT_PASSWORD "MQTT_PASSWORD"
