// WiFi
#define SECRET_SSID "NETWORK_SSID"
#define SECRET_PASS "NETWORK_PASSWORD"

// InfluxDB
#define INFLUXDB_URL "http://149.132.178.180:8086"
#define INFLUXDB_TOKEN "token"
#define INFLUXDB_ORG "labiotorg"
#define INFLUXDB_BUCKET "bucket"

// MySQL
#define MYSQL_HOST {149.132.178.180}
#define MYSQL_USERNAME "username"
#define MYSQL_PASSWORD "password"
#define MYSQL_DB "db_name"

// MQTT Access
#define MQTT_BROKERIP "149.132.178.180"
#define MQTT_CLIENTID "esp8266"
#define MQTT_USERNAME "username"
#define MQTT_PASSWORD "password"
