// WiFi
#define SECRET_SSID "WIFI_SSID"
#define SECRET_PASS "WIFI_PASSWORD

// MQTT access
#define MQTT_BROKERIP "149.132.178.180"
#define MQTT_USERNAME "MQTT_USERNAME"
#define MQTT_PASSWORD "MQTT_PASSWORD"

// #define MQTT_BROKERIP "192.168.1.185"
// #define MQTT_CLIENTID "40:f5:20:05:5b:a3"
// #define MQTT_USERNAME "mvincenzi14"
// #define MQTT_PASSWORD "iot860579"
